*{
  background-color: black;
  color: white;
  margin: 8px;
}

body{
  background-color: black;
}

h1{
  text-align:center;
}

.title{
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(108, 233, 108), 0 0 5px rgb(108, 233, 108);
}

.note{
  padding-top: 20px;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(238, 188, 52), 0 0 5px rgb(238, 188, 52);
}

.error{
  color: #2ce656;
  text-align: center;
  text-decoration: none;
}

.messages{
  color: #2ce656;
  text-align: center;
  text-decoration: none;
}

#container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
  background-color: black;
}


#registration-form{
  border: 1px solid #2ce656;
  padding: 20px;
}

.form-control{
  background-color: black;
  color: white
}

.login-form{
  border: 1px solid #2ce656;
  padding: 20px;
}



/* --------------------- */
/*        Dashboard      */
/* --------------------- */

.title{
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(108, 233, 108), 0 0 5px rgb(108, 233, 108);
}

.dashboard-content{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.playlist-item{
  color: white;
}

.playlist-item:hover{
  color: gray;
  text-decoration: none;
}

.new-playlist-link:hover, .song-title:hover {
  color:rgb(108, 233, 108);
  text-decoration: none;
}

.all-music-content{
  width: 50%;
}

.side-playlist-panel{
  margin-top: 13px;
}

.add-btn{
  height: 25px;
  width: 25px;
}

.btn-primary {
  color: #fff;
  background-color: #2ce656;
  border-color: #2ce656;
}

.btn-secondary{
  color: #fff;
  background-color: #3dc35d;
  border-color: #3dc35d;
}

a{
  color: white;
}

.action-link:hover {
  color:rgb(108, 233, 108);
  text-decoration: none;
}

.edit-link{
  color:rgb(108, 233, 108)
}

.edit-link:hover{
  color:white;
  text-decoration: none;
}

.new-playlist-link:hover, .song-title:hover {
  color:rgb(108, 233, 108);
  text-decoration: none;
}

.dropdown-menu, .dropdown-item{
  color: #3dc35d;
  background-color:black;
}




/* ------------------------ */
/*       Create Song        */
/* ------------------------ */

.new-song-content{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 700px;
  margin: 0 auto;
}

.create-new-song-btn{
  line-height: 1.5;
  border: 1px solid #2ce656;
  border-radius: 5px;
  margin-left: 40%;
}

.search-btn{
  line-height: 1.5;
  border: 1px solid #2ce656;
  border-radius: 5px;
  margin-left: 45%;
}

.cancel-btn{
  height:32px;
  width: 32px;
}

.cancel-btn:hover{
  box-shadow: 1px 1px 2px black, 0 0 25px rgb(108, 233, 108), 0 0 5px rgb(108, 233, 108);
}



/* ------------------------ */
/*         Edit Song        */
/* ------------------------ */

.song-form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 700px;
  margin: 0 auto;
}



/* ------------------------ */
/*         Song Info        */
/* ------------------------ */

#main-content{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 25%;
}

.info-content{
  margin-top: 42px;
  margin-left: 9%;
}

.song-image{
  height: 250px;
  width: 250px;
  box-shadow: 1px 3px 32px 3px white;
  margin-top: 35px;
  margin-left: 100px;
}

.info-content-bottom-row{
  display: flex;
  flex-direction: row;
}



/* ------------------------------ */
/*        Create Playlist         */
/* ------------------------------ */

.create-content{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 700px;
  margin: 0 auto;
}



/* ------------------------------ */
/*          Edit Playlist         */
/* ------------------------------ */

.playlist-form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 700px;
  margin: 0 auto;
}



/* ------------------------------ */
/*         Playlist Info          */
/* ------------------------------ */

.info-content{
  display: flex;
  flex-direction: column;
  margin-top: 42px;
  margin-left: 10%;
}

.playlist-info-title{
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(108, 233, 108), 0 0 5px rgb(108, 233, 108);
  margin-left: 0;
}

.playlist-songs{
  width: 80%;
  margin-left: 10%
}